.App{
  margin: 0;
}
/* ---------- Háttér ---------- */
.day-background{
  background: url(../images/background_day.png);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  min-height: 100vh;
}
.evening-background{
  background: url(../images/background_evening.png);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  min-height: 100vh;
}
.night-background{
  background: url(../images/background_night.png);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  min-height: 100vh;
}
/* ---------- Fő vonal, megálló pontok, skill gombok ---------- */
.chapter-one-circle{
  background: url(../images/circle_inactive.png);
  bottom: 14%;
  width: 70px;
  height: 70px;
  position: absolute;
  margin-left: 30%;
}
.chapter-one-circle-active{
  background: url(../images/circle_active.png);
  bottom: 14%;
  width: 70px;
  height: 70px;
  position: absolute;
  margin-left: 30%;
}
.chapter-one-work{
  background: url(../images/ch1_work.png);
  bottom: 14%;
  width: 70px;
  height: 70px;
  position: absolute;
  margin-left: 30%;
}
.chapter-one-uni{
  background: url(../images/ch1_uni.png);
  bottom: 14%;
  width: 70px;
  height: 70px;
  position: absolute;
  margin-left: 30%;
}
.chapter-two-circle{
  background: url(../images/circle_inactive.png);
  bottom: 14%;
  width: 70px;
  height: 70px;
  position: absolute;
  margin-left: 50%;
}
.chapter-two-circle-active{
  background: url(../images/circle_active.png);
  bottom: 14%;
  width: 70px;
  height: 70px;
  position: absolute;
  margin-left: 50%;
}
.chapter-two-promotion{
  background: url(../images/ch2_promotion.png);
  bottom: 14%;
  width: 70px;
  height: 70px;
  position: absolute;
  margin-left: 50%;
}
.chapter-two-failed-promotion{
  background: url(../images/ch2_failed_promotion.png);
  bottom: 14%;
  width: 70px;
  height: 70px;
  position: absolute;
  margin-left: 50%;
}
.chapter-two-new-job{
  background: url(../images/ch2_new_job.png);
  bottom: 14%;
  width: 70px;
  height: 70px;
  position: absolute;
  margin-left: 50%;
}
.chapter-two-work-after-uni{
  background: url(../images/ch2_work_after_uni.png);
  bottom: 14%;
  width: 70px;
  height: 70px;
  position: absolute;
  margin-left: 50%;
}
.chapter-two-2nd-work-after-uni{
  background: url(../images/ch2_2nd_work_after_uni.png);
  bottom: 14%;
  width: 70px;
  height: 70px;
  position: absolute;
  margin-left: 50%;
}
.chapter-three-circle{
  background: url(../images/circle_inactive.png);
  bottom: 14%;
  width: 70px;
  height: 70px;
  position: absolute;
  margin-left: 70%;
}
.chapter-three-circle-active{
  background: url(../images/circle_active.png);
  bottom: 14%;
  width: 70px;
  height: 70px;
  position: absolute;
  margin-left: 70%;
}
.chapter-three-valuta{
  background: url(../images/circle_inactive.png);
  bottom: 14%;
  width: 80px;
  height: 80px;
  position: absolute;
  margin-left: 70%;
}
.chapter-three-bonds{
  background: url(../images/ch3_bonds.png);
  bottom: 14%;
  width: 70px;
  height: 70px;
  position: absolute;
  margin-left: 70%;
}
.skill-circle{
  background: url(../images/button_skill.png);
  height: 80px;
  width: 80px;
  position: absolute;
}
/* ---------- Infó tábla + Állapot jelző + Pörgethető kerék + Hiba üzi ---------- */
div.container{
  display: flex;
  position: relative;
}
div.chapterTitle{
  color: black;
  font-family: 'Merienda', cursive;
  font-weight: 400;
  font-size: 50px;
}
.day{
  color: black;
}
.evening{
  color: white;
}
.night{
  color: white;
}
div#player-money{
  position: absolute;
  font-family: 'Merienda', cursive;
  font-size: 22px;
  margin-left: 80%;
  margin-top: 70px;
  font-weight: 400;
}
div#player-job{
  position: absolute;
  font-family: 'Merienda', cursive;
  font-size: 22px;
  margin-left: 80%;
  margin-top: 110px;
  font-weight: 400;
}
div#player-salary{
  position: absolute;
  font-family: 'Merienda', cursive;
  font-size: 22px;
  margin-left: 80%;
  margin-top: 150px;
  font-weight: 400;
}
div#player-skill{
  position: absolute;
  font-family: 'Merienda', cursive;
  font-size: 22px;
  margin-left: 80%;
  margin-top: 190px;
  font-weight: 400;
}
div#player-loan{
  position: absolute;
  font-family: 'Merienda', cursive;
  font-size: 22px;
  margin-left: 80%;
  margin-top: 230px;
  font-weight: 400;
}
div#player-inv-title{
  position: absolute;
  font-family: 'Merienda', cursive;
  font-size: 22px;
  margin-left: 10%;
  margin-top: 70px;
  font-weight: 400;
}
div#player-inv1{
  position: absolute;
  font-family: 'Merienda', cursive;
  font-size: 22px;
  margin-left: 10%;
  margin-top: 110px;
  font-weight: 400;
}
div#player-inv2{
  position: absolute;
  font-family: 'Merienda', cursive;
  font-size: 22px;
  margin-left: 10%;
  margin-top: 150px;
  font-weight: 400;
}
div#player-inv3{
  position: absolute;
  font-family: 'Merienda', cursive;
  font-size: 22px;
  margin-left: 10%;
  margin-top: 190px;
  font-weight: 400;
}
div#player-inv4{
  position: absolute;
  font-family: 'Merienda', cursive;
  font-size: 22px;
  margin-left: 10%;
  margin-top: 230px;
  font-weight: 400;
}
.wheelspin{
  background-color: rgba(239, 239, 239, 0.85);
  border-radius: 1%;
  color: black;
  width: 30%;
  margin-left: 36%;
  margin-top: 50px;
  height: 45vh;
  position: absolute;
}
span.title{
  font-size: 26px;
  font-family: 'Merienda', cursive;
  font-weight: 600;
  padding-top: 15px;
  padding-left: 28%;
  position: absolute;
}
div#wheel{
  margin-top: -70px;
  margin-left: -10px;
}

.error-message{
  color: black;
  font-family: 'Merienda', cursive;
  font-size: 22px;
  font-weight: 600;
  margin-left: 73%;
  margin-top: 27%;
  position: absolute;
  width: 200px;
  letter-spacing: 0.2px;
  line-height: 130%;
}
/* ----- Setup */
.begin-game{
  background-color: rgba(239, 239, 239, 0.85);
  border-radius: 1%;
  color: black;
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
  height: 45vh;
  font-family: 'Merienda', cursive;
  letter-spacing: 0.2px;
  line-height: 130%;
  font-size: 20px;
  font-weight: 400;
  padding: 30px 20px;
  position: absolute;
}
button#to-chapter-one-button{
  width: 30%;
  color: white;
  background: url(../images/game_button.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid;
  border-color: white;
  box-shadow: 4px 4px 15px black;
  font-family: 'Merienda', cursive;
  font-weight: 400;
  font-size: 20px;
  margin-top: 5%;
}
button:hover{
  filter: brightness(120%);
}
.lower{
  text-transform: lowercase;
}
/* ----- Feladatok */
div.task-title{
  font-size: 25px;
  margin-bottom: 20px;
  font-family: 'Merienda', cursive;
}
input.task-input{
  background: 0;
  border: 0;
  border-bottom: 2px solid black;
  outline: none;
  width: 150px;
  max-width: 400px;
  color: black;
  transition: padding 0.3s 0.2s ease;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'Merienda', cursive;
  font-weight: 400;
}
input.investment-input{
  background: white;
  border: 2px solid black;
  outline: none;
  width: 100px;
  max-width: 400px;
  color: black;
  transition: padding 0.3s 0.2s ease;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: 'Merienda', cursive;
  font-weight: 400;
}
input:focus{
  padding-bottom: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* ----- Narration Table */
.narration{
  font-size: 18px;
  color: rgb(89, 88, 88);
  font-weight: 400;
}
.table-narration{
  background-color: rgba(239, 239, 239, 0.85);
  border-radius: 1%;
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
  height: 45vh;
  color: black;
  font-family: 'Merienda', cursive;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 125%;
  font-size: 20px;
  padding: 30px 20px;
  position: absolute;
}
.table-narration-smaller{
  background-color: rgba(239, 239, 239, 0.85);
  border-radius: 1%;
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
  height: 45vh;
  color: black;
  font-family: 'Merienda', cursive;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 125%;
  font-size: 19px;
  padding: 20px 20px;
  position: absolute;
}
.table-narration-big{
  background-color: rgba(239, 239, 239, 0.85);
  border-radius: 1%;
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
  height: 60vh;
  color: black;
  font-family: 'Merienda', cursive;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 125%;
  font-size: 20px;
  padding: 10px 20px;
  position: absolute;
}
.table-narration-shorter{
  background-color: rgba(239, 239, 239, 0.85);
  border-radius: 1%;
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
  height: 45vh;
  color: black;
  font-family: 'Merienda', cursive;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 125%;
  font-size: 20px;
  padding: 30px 20px;
  padding-top: 13vh;
  position: absolute;
}
div#info-table button{
  color: white;
  background: url(../images/game_button.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid;
  border-color: white;
  box-shadow: 4px 4px 15px black;
  font-family: 'Merienda', cursive;
  font-weight: 400;
  font-size: 20px;
  width: fit-content;
}
button#back-to-home{
  margin-left: 40%;
  margin-top: -10px;
}
button#tasks-button, button#after-tasks-button, button#chapter-continue{
  margin-top: 40px;
}
button#chapter-continue-smaller{
  margin-top: 13px;
}
.box0{
  grid-column: 1 / 5;
}
/* ----- CH1 ----- */
.chapter-one-table{
  background-color: rgba(239, 239, 239, 0.85);
  border-radius: 1%;
  width: 50%;
  margin-left: 480px;
  margin-top: 50px;
  height: 45vh;
  color: black;
  font-family: 'Merienda', cursive;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 125%;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;
  grid-template-rows: 20% 20% auto;
  justify-items: center;
  position: absolute;
}
.box1-ch1{
  grid-column: 1 / 5;
  font-size: 30px;
  font-weight: 600;
  margin-top: 60px;
}
.box2-ch1{
  grid-column: 1 / 3;
  margin-top: 80px;
}
.box3-ch1{
  grid-column: 3 / 5;
  margin-top: 80px;
}
/* ----- CH2 ----- */
.chapter-two-table{
  background-color: rgba(239, 239, 239, 0.85);
  border-radius: 1%;
  width: 50%;
  margin-left: 480px;
  margin-top: 50px;
  height: 45vh;
  color: black;
  font-family: 'Merienda', cursive;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 125%;
  font-size: 20px;
  padding: 30px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;
  grid-template-rows: 20% 20% auto;
  justify-items: center;
  position: absolute;
}
.box1-ch2{
  grid-column: 1 / 5;
  font-size: 30px;
  font-weight: 600;
  margin-top: 150px;
}
.box2-ch2{
  grid-column: 1 / 3;
  margin-top: 150px;
}
.box3-ch2{
  margin-top: 150px;
  grid-column: 3 / 5;
}
/* ----- CH3 ----- */
.chapter-three-table{
  background-color: rgba(239, 239, 239, 0.85);
  border-radius: 1%;
  width: 50%;
  margin-left: 480px;
  margin-top: 50px;
  height: 45vh;
  color: black;
  font-family: 'Merienda', cursive;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 125%;
  font-size: 20px;
  padding: 20px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;
  grid-template-rows: 20% 20% auto;
  justify-items: center;
  position: absolute;
}
.chapter-three-table-half-skill{
  background-color: rgba(239, 239, 239, 0.85);
  border-radius: 1%;
  width: 50%;
  margin-left: 480px;
  margin-top: 50px;
  height: 45vh;
  color: black;
  font-family: 'Merienda', cursive;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 125%;
  font-size: 20px;
  padding: 20px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  grid-template-rows: 20% 20% auto;
  justify-items: center;
  position: absolute;
}
.chapter-three-table-full-skill{
  background-color: rgba(239, 239, 239, 0.85);
  border-radius: 1%;
  width: 50%;
  margin-left: 480px;
  margin-top: 50px;
  height: 45vh;
  color: black;
  font-family: 'Merienda', cursive;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 125%;
  font-size: 20px;
  padding: 20px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;
  grid-template-rows: 20% 20% auto;
  justify-items: center;
  position: absolute;
}
div#info-table button#chapter-investment{
  color: white;
  background: url(../images/game_button.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid;
  border-color: white;
  box-shadow: 4px 4px 15px black;
  font-family: 'Merienda', cursive;
  font-weight: 400;
  font-size: 20px;
  width: fit-content;
  position: absolute;
  margin-left: 44%;
  margin-top: 22.5%;
}
.box1-ch3{
  grid-column: 1 / 5;
  margin-top: 130px;
  font-size: 30px;
  font-weight: 600;
}
.box2-ch3{
  grid-column: 1 / 3;
  margin-top: 130px;
}
.box3-ch3{
  grid-column: 3 / 5;
  margin-top: 130px;
}
/* 2 lehetőség */ 
.seperator2-1{
  border-right: 4px solid black;
  height: 200px;
  position: absolute;
  top: 36%;
  left: 50%;
}
.col1-ch3-2-title{
  grid-column: 1 / 3;
  font-size: 21px;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
}
.col1-ch3-2{
  text-align: center;
  grid-column: 1 / 3;
  margin-top: 15px;
}
.col2-ch3-2-title{
  grid-column: 3 / 5;
  font-size: 21px;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
}
.col2-ch3-2{
  text-align: center;
  grid-column: 3 / 5;
  margin-top: 15px;
}
/* 3 lehetőség */
.seperator3-1{
  border-right: 4px solid black;
  height: 200px;
  position: absolute;
  top: 36%;
  left: 33.5%;
}
.seperator3-2{
  border-right: 4px solid black;
  height: 200px;
  position: absolute;
  top: 36%;
  left: 65%;
}
.col1-ch3-3-title{
  grid-column: 1 / 2;
  font-size: 21px;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
}
.col1-ch3-3{
  text-align: center;
  grid-column: 1 / 2;
  margin-top: 15px;
}
.col2-ch3-3-title{
  grid-column: 2 / 3;
  font-size: 21px;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
}
.col2-ch3-3{
  text-align: center;
  grid-column: 2 / 3;
  margin-top: 15px;
}
.col3-ch3-3-title{
  grid-column: 3 / 4;
  font-size: 21px;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
}
.col3-ch3-3{
  text-align: center;
  grid-column: 3 / 4;
  margin-top: 15px;
}
/* 4 lehetőség */
.seperator4-1{
  border-right: 4px solid black;
  height: 200px;
  position: absolute;
  top: 36%;
  left: 26%;
}
.seperator4-2{
  border-right: 4px solid black;
  height: 200px;
  position: absolute;
  top: 36%;
  left: 50%;
}
.seperator4-3{
  border-right: 4px solid black;
  height: 200px;
  position: absolute;
  top: 36%;
  left: 74%;
}
.col1-ch3-4-title{
  grid-column: 1 / 2;
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
}
.col1-ch3-4{
  grid-column: 1 / 2;
  text-align: center;
  margin-top: 15px;
  font-size: 19px;
}
.col2-ch3-4-title{
  grid-column: 2 / 3;
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
}
.col2-ch3-4{
  grid-column: 2 / 3;
  text-align: center;
  margin-top: 15px;
  font-size: 19px;
}
.col3-ch3-4-title{
  grid-column: 3 / 4;
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
}
.col3-ch3-4{
  grid-column: 3 / 4;
  text-align: center;
  margin-top: 15px;
  font-size: 19px;
}
.col4-ch3-4-title{
  grid-column: 4 / 5;
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
}
.col4-ch3-4{
  grid-column: 4 / 5;
  text-align: center;
  margin-top: 15px;
  font-size: 19px;
}
/* ---------- Popup szövegek ---------- */
.description{
  font-family: 'Merienda', cursive;
  font-size: 14px;
}
.popup-info{
  font-family: 'Merienda', cursive;
  font-size: 20px;
  color: #1799f5;
}
/* ---------- Karakter mozgás aimálás ---------- */
img.begin-style{
  position: absolute;
  bottom: 18%;
  height: 30vh;
  margin-left: 96px;
}
/* ----- Az első fejezet felé */
@keyframes moveChapterOne {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(400px);
  }
}
img.move-chapter-one-style{
  animation: moveChapterOne forwards 5s linear;
  position: absolute;
  bottom: 18%;
  height: 30vh;
  margin-left: 96px;
}
/* ----- A második fejezet felé */
@keyframes moveChapterTwo {
  from {
    transform: translateX(400px);
  }
  to {
    transform: translateX(800px);
  }
}
img.move-chapter-two-style{
  animation: moveChapterTwo forwards 5s linear;
  position: absolute;
  bottom: 18%;
  height: 30vh;
  margin-left: 96px;
}
img.chapter-two-style{
  position: absolute;
  bottom: 18%;
  height: 30vh;
  margin-left: 896px;
}
/* ----- A harmadik fejezet felé */
@keyframes moveChapterThree {
  from {
    transform: translateX(800px);
  }
  to {
    transform: translateX(1200px);
  }
}
img.move-chapter-three-style{
  animation: moveChapterThree forwards 5s linear;
  position: absolute;
  bottom: 18%;
  height: 30vh;
  margin-left: 96px;
}
img.chapter-three-style{
  position: absolute;
  bottom: 18%;
  height: 30vh;
  margin-left: 1296px;
}
/* ----- A vége felé */
@keyframes moveChapterEnd {
  from {
    transform: translateX(1200px);
  }
  to {
    transform: translateX(1600px);
  }
}
img.move-chapter-end-style{
  animation: moveChapterEnd forwards 5s linear;
  position: absolute;
  bottom: 18%;
  height: 30vh;
  margin-left: 96px;
}